rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /test/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /test_documents/{id} {
      allow update: if (request.auth != null &&
      resource.data.authorId == request.auth.uid);
    }

    //Allow authenticated user to view, create, update and delete their own todos

    match /todos/{todoId} {
      allow read: if request.auth.token.email_verified;
      allow write: if request.auth.uid == request.resource.data.uid;
      allow delete: if request.auth.uid == resource.data.uid;
    }

    //Allow any authenticated user to view other users profiles, edit or create a profile
    //Allow ONLY Admins to edit ANY users Profile

    match /users/{userId} {
      allow read: if request.auth.token.email_verified;
      allow write: if request.auth.uid == request.resource.data.uid;
      allow update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
   
  }
}